.footer{
    width: 100%;
    padding: 2rem;
    /* border: 2px solid blue; */
    border-radius: 30px;
    box-shadow: inset 0 0 10px #04a4b69b;
    transition: 0.9s;
}
.footer:hover{
    background-color: rgba(3, 100, 96, 0.199);
}
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 12rem;
    color: rgba(74, 255, 255, 0.756);
}
.left{
    /* border: 2px solid red; */
    width: 40%;
    padding: 1.5rem;
    
}
.right{
    /* border: 2px solid red; */
    display: flex;
    width: 40%;
    padding: 1.5rem;
}
.right h2{
    color: rgba(32, 250, 250, 0.923);
}
.location ,.phone, .gmail{
    padding: 0.4rem;
    display: flex;
}
.right h2 ,.right p, .social a{
    padding: 0.8rem;
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.social a{
    font-size: 2.5rem;
    /* animation: rotate 1s infinite; */
    border-radius: 3rem;
    /* border: 2px solid red; */
    width: 4rem;
    height: 4rem;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(72deg);
    }
    50%{
        transform: rotate(144deg);
    }
    75%{
        transform: rotate(216deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media screen  and (max-width:1300px){
    .footer{
        /* box-shadow:none; */
        padding: 1rem;
    }
    .footer-container{
        /* flex-direction: column; */
        height: 16rem;
    }
    .left{
        padding: 0.2rem;
        width: 50%;
    }
    .right{
        padding: 0.2rem;
        width: 50%;
    }
    .right h2 ,.right p, .social a{
        padding: 0.2rem;
    }
    .location ,.phone, .gmail{
        padding: 0.2rem;
        /* display: flex; */
    }
}
@media screen and (max-width:800px){ 
    .footer-container{
        font-size: 0.8rem;
    }
   .right{
    flex-direction: column;
    margin-left: 0.3rem;
   } 
   .left{
    margin-right: 0.4rem;
   }
}
@media screen and (max-width:500px)
{
    .social a{
        padding:1rem 0;
        font-size: 1.7rem;
    }
}