@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Rubik+Microbe&family=Ubuntu:ital,wght@1,400;1,500&display=swap');

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    /* height: ; */
    width: 100%;
    z-index: 10;
}

.header-scroll {
    background-color: rgba(24, 1, 1, 0.386);
    transition: 0.5s;
}

.header h2 {
    font-family: 'Ubuntu', sans-serif;
}

.header h2:hover {
    text-shadow: 2px 2px 3px rgb(87, 193, 186);
}

.navlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25%;
}

.navlinks li {
    padding: 0rem 1rem;
    width: 25%;
}

.navlinks li a {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    border: 2.5px solid rgb(0, 195, 255);
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0 1.3rem 0 1.3rem;
    /* box-shadow: 0 0 5px rgb(0, 195, 255); */
    transition: all 0.5s ease-in-out;
}

.navlinks li a:hover {
    /* text-shadow: 2px 2px 3px red; */
    background-color: rgba(7, 245, 245, 0.489);
    color: rgb(0, 0, 0);
    /* box-shadow:inset 0 0 10px rgb(0, 195, 255); */
}

.hamburger_manu {
    display: none;
}

#chatting {
    margin: 2rem;
    display: none;
    height: 4rem;
    width: 4rem;
    border-radius: 4rem;
    overflow: hidden;
    border: 2px solid rgb(66, 249, 170);
    box-shadow: 0 0 2rem rgb(66, 249, 170);
    opacity: 0.7;
}

#chatting img {
    height: 100%;
    width: 100%;
}

.activeNav {
    background-color: rgb(0, 243, 251);
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgb(0, 195, 255);
}


.visitorManu {
    position: absolute;
    width: 11rem;
    height: 2rem;
    top: 56rem;
    left: 117rem;
    border-radius: 2rem;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(0deg, rgb(6, 11, 13) 0%, rgb(38, 95, 105) 100%);
    
}

.hiddenVisitorManu {
    position: absolute;
    width: 10rem;
    height: 2rem;
    top: 56rem;
    left: 124rem;
    border-radius: 2rem;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(0deg, rgb(6, 11, 13) 0%, rgb(38, 95, 105) 100%);
    
}


.visitorManu button,
.hiddenVisitorManu button {
    height: 100%;
    width: 100%;
    /* background: transparent; */
    background: linear-gradient(to right, #30CFD0 0%, #804cc0 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

@media screen and (max-width:1040px) {
    .navlinks {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        /* color: #4FD1C5; */
        background-color: rgba(6, 58, 51, 0.948);
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 0.5s ease-in;
    }

    .navlinks.active {
        left: 0;
    }

    .navlinks li {
        padding: 1rem 0;
    }

    .navlinks li a {
        font-size: 2rem;
    }

    .hamburger_manu {
        display: block;
    }
}

@media screen and (max-width:1040px) {
    #chatting {
        display: block;
    }

    .navlinks li {
        width: 60%;
    }

    .navlinks li a {
        box-shadow: 0 0 17px rgb(0, 195, 255);
        background-color: rgb(17, 88, 109);
        border-radius: 0 3rem 0 3rem;
    }
}

@media screen and (max-width:500px) {
    .navlinks {
        background-image: linear-gradient(to right top, #faffff61, #04b5fb5b);
    }
    .visitorManu ,.hiddenVisitorManu{
        display: none;
    }
}