@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

*{
    margin: 0;
    color: wheat;
    box-sizing: border-box;
}
#skill{
    /* border: 2px solid red; */
    background-image: linear-gradient(to right top, #6a848461 , #005e2c5b);
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 2rem;
    padding: 1rem;
    transition: 0.6s;
    font-family: 'Orbitron', sans-serif;
}

#skillHeading{
    text-shadow: 2px 2px 3px red;
    font-size: 3rem;
    margin: 1rem;
    text-align: center;
}
.skillBody{
    padding: 1rem;
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: center;
    /* flex-wrap: wrap; */
    border-radius: 2rem;
}
.circularSkill{
    /* display: flex; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: row; */
}
.skillContainer{
    margin: 1rem;
    height: 25rem;
    width: 25rem;
    /* border: 2px solid blue; */
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
    box-shadow: inset 0 0 25px #04a4b69b;
    /* animation: bg_change 5s infinite; */
    background-color: rgba(0, 43, 43, 0.719);
}
.skillContainer:hover{
    background-color: rgba(47, 251, 255, 0.067);
}
.circular_progress{
    position: relative;
    border: 2px solid pink;
    border-radius: 50%;
    height: 12rem;
    width:12rem;
    background: conic-gradient(red 1.5deg, transparent 0deg);
    display: flex;
    align-items: center;
    justify-content: center;

    /* for arround shadow */
    -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
box-shadow: -1px 1px 5px 15px rgb(97 244 241 / 16%);


}
.circular_progress::before{
    content: "";
    position: absolute;
    height: 10rem;
    width: 10rem;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}
.progress_val{
    position: relative;
    font-size: 2rem;
}
.skill_set{
    font-size: 1.3rem;
}

/* subject css part  */
.subject{
margin: 1rem;
padding: 0.5rem;
border: 2px solid pink;
border-radius: 1rem 2rem 1rem 2rem;
height: 13rem;
box-shadow: inset 0 0 30px #7cf4ff9a;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
/* transition: 0.7s; */
background: linear-gradient(0deg, rgb(6, 11, 13) 0%, rgb(38, 95, 105) 100%);
}
.subject h2{
    text-shadow: 2px 2px 3px red;
    font-size: 2rem;
    margin: 1rem;
}
.hedsubject{
    font-size: 2rem;
}
.subjects{
 font-size: 1.5rem;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 margin: 0.3rem;
 height: 30%;
}
.subjects p{
/* border: 2px solid blue; */
margin: 0.3rem;
padding: 1rem;
border-radius: 3rem;
background: linear-gradient(to right, #30CFD0 0%, #804cc0 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.subject p:hover{
    background-color: rgba(97, 244, 242, 0.082);
    -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
box-shadow: -1px 1px 5px 11px rgb(97 244 241 / 16%);
}

/* coding part css is here  */
#leetbody{
    margin:1.5rem;
    display: flex;
    justify-content: center;
}
.leetcode{
    width: 40%;
    padding: 1rem;
    display: flex;
    /* border: 2px solid red; */
    background-color: #6cf5fc0a;
    border-radius: 1rem 2rem 1rem 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* outsider body shadow code  */
    -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 5px 11px rgb(97 244 241 / 16%);
}
.leetimage{
    height: 5rem;
    width: 5rem;
}
.leetcode h2{
    padding: 1rem;
    font-size: 4rem;
    /* animation: bipp_lighting 5s infinite; */
    background: linear-gradient(to right, #30CFD0 0%, #804cc0 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.leetcode p{
    font-size: 2rem;
    animation: bipp_lighting 5s infinite;
}

@media screen and (max-width:1200px) {
   
    .skillBody{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .circularSkill{
        grid-template-columns: auto auto auto;
    }

    .leetimage{
        height: 3.5rem;
        width: 3.5rem;
    }
    .leetcode h2{
        padding: 1rem;
        font-size: 3rem;
    }
    .leetcode p{
        font-size: 1.5rem;
    }
    .subject{
        flex-direction: column;
        height: 8rem;
    }
    .subject h2{
        font-size: 1rem;
    }
    .subjects{
        font-size: 0.8rem;
    }
    .subjects p{
        text-align: center;
        margin: 1rem;
        padding: 0.3rem;
    }
}

@media screen and (max-width:750px) 
{
    .subjects{
        font-size: 0.6rem;
    } 
    .subject{
        height: 10rem;
        border-radius: 0.5rem 1rem 0.5rem 1rem;
    }
    .subject p{
        margin: 1rem;
    }
}


@media screen and (max-width:900px) 
{
    .leetimage{
        height: 2.5rem;
        width: 2.5rem;
    }
    .leetcode h2{
        padding: 1rem;
        font-size: 2rem;
        background: linear-gradient(to right, #611818 0%, #1c2200 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .leetcode p{
        font-size: 1rem;
    } 
    .circularSkill{
        display: grid;
        grid-template-columns: auto auto;
        
    }
}
@media screen and (max-width:800px) 
{
    .skillBody{
        grid-template-columns: auto ;
    }
}

@media screen and (max-width:650px) 
{
    #skill{
        padding: 1rem;
        background-image: linear-gradient(to right top, #faffff61 , #04b5fb5b);
    }
    .skillContainer{
        margin: 0.5rem;
        width: 10rem;
        height: 15rem;
        padding:1rem;
        text-align: center;
        background-image: linear-gradient(to right top, #faffff61 , #04b5fb5b);
    }
    .circular_progress{
        height: 6rem;
        width: 6rem;
    }
    .circular_progress::before{
        height: 5rem;
        width: 5rem;
    }
    .progress_val{
        font-size: 1rem;
    }
    .leetcode{
        width: 60%;
        background-image: linear-gradient(to right top, #faffff61 , #04b5fb5b);
    }
    .leetimage{
        height: 1.5rem;
        width: 1.5rem;
    }
    .leetcode h2{
        padding: 0.5rem;
        font-size: 1rem;
    }
    .leetcode p{
        font-size: 0.6rem;
    } 
    .subject{
        height: 7rem;
    }
    .subject p{
        margin: 0;
    }
}